dist
node_modules
*.tsbuildinfo
extensions/labs/lib
*.vsix

packages/*/*.d.ts
packages/*/*.js
packages/*/*.map
packages/*/lib/**/*.d.ts
packages/*/lib/**/*.js
packages/*/lib/**/*.map

tsslint-config/*.d.ts
tsslint-config/*.js
tsslint-config/*.map
